# Исключить системные файлы и папки
.DS_Store

# Локальные конфигурации и файлы IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Исключить скомпилированные выходные файлы
*.exe
*.dll
*.out
*.app
*.log

# Исключить временные файлы
*.tmp
*.bak
*.swp

# Исключить журнальные файлы
*.log

# Исключить папку node_modules и зависимости
node_modules/

# Исключить папку build и выходные данные сборки
build/
dist/

# Исключить пакеты, собранные с помощью package managers
*.tgz
*.gz

# Исключить файлы настроек операционной системы
*.DS_Store
Thumbs.db

# Исключить определенные файлы, которые могут быть в проекте
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Исключить файлы и папки, относящиеся к Python
__pycache__/
*.py[cod]
*.pyo

# Исключить файлы и папки, относящиеся к Ruby
*.gem
*.rbc

# Исключить временные файлы редактора Vim
*.un~
